<app-navigation-panel></app-navigation-panel>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col l5 m5 s12">
            <h2 class="center">Employee Info</h2>
            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">

              <app-avatar [avatar]="employeeService.selectedEmployee.avatar"></app-avatar>
              <!-- pass data from parent component to child one
               passes employeeService.selectedEmployee.avatar value as an 'avatar' to app-avatar component-->

              <div *ngIf="employeeService.selectedEmployee.avatar" class="row">
                <input type="hidden"
                       name="avatar"
                       #avatar="ngModel"
                       [(ngModel)]="employeeService.selectedEmployee.avatar">
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nameInput"
                         type="text"
                         name="name"
                         #name="ngModel"
                         [(ngModel)]="employeeService.selectedEmployee.name"
                         required
                         autocomplete="off"
                         maxlength="50">
                  <label for="nameInput" [ngClass]="{
                  'active': employeeService.selectedEmployee.name.length || 0 && name.focus
                  }">Full
                    name:<span
                      class="red-text"> *</span></label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">business_center</i>
                  <input id="position"
                         type="text"
                         name="position"
                         #position="ngModel"
                         [(ngModel)]="employeeService.selectedEmployee.position"
                         autocomplete="off">
                  <label for="position" [ngClass]="{
                  'active': employeeService.selectedEmployee.position.length || position.focus
                  }">Position:</label>
                </div>

              </div>

              <div class="row">
                <div class="input-field col s12">

                  <i class="material-icons prefix">location_city</i>
                  <input type="text"
                         id="office"
                         name="office"
                         #office="ngModel"
                         [(ngModel)]="employeeService.selectedEmployee.office"
                         autocomplete="off">
                  <label for="office" [ngClass]="{
                  'active': employeeService.selectedEmployee.office.length || office.focus
                  }">Office:</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">monetization_on</i>
                  <input type="text"
                         id="salary"
                         name="salary"
                         #salary="ngModel"
                         [(ngModel)]="employeeService.selectedEmployee.salary"
                         autocomplete="off">
                  <label for="salary" [ngClass]="{
                  'active': employeeService.selectedEmployee.salary !== null || salary.focus
                  }">Salary:</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                  <!--[] - adds attribute. To add class: [class.some-css-class]="some-condition"
                              e.g. [class.selected]="hero === selectedHero"-->
                </div>
              </div>
            </form>
          </div>
          <div class="col l1 m1 s12"></div>
          <div class="col s12 m6 l6">
            <table class="highlight striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Salary</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let emp of employeeService.employees" (click)="onEdit(emp)">
                <td>{{emp.name}}</td>
                <td>{{emp.position}}</td>
                <td>{{emp.office}}</td>
                <td>{{emp.salary}}</td>
                <td>
                  <a class="action-btn" (click)="onEdit(emp)">
                    <i class="material-icons">edit</i>
                  </a>
                  <a class="action-btn right" (click)="onDelete(emp._id, employeeForm)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
