<div class="card" id="positions">
  <a (click)="goBack()" class="btn-floating pulse right">
    <i class="material-icons">arrow_back</i>
  </a>

  <div class="card-content">
    <span class="card-title" appTextHighlightBlue>Positions list</span>
    <app-search-position [positions]="positionsService.positions"></app-search-position>
    <!--<label>Add job position:-->
    <!--<input #jobPosition/>-->
    <!--</label>-->
    <mat-form-field>
      <input matInput placeholder="Add job position"
             #jobPosition
             autocomplete="off"
             maxlength="10">
      <mat-hint>{{jobPosition.value.length}} / 10</mat-hint>
    </mat-form-field>
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="btn" (click)="add(jobPosition.value); jobPosition.value=''">add</button>

<!--    <ul>
      <li *ngFor="let position of positionsService.positions">
        <a routerLink="/positions/{{position._id}}"><p> {{position._id}} {{position.name}}</p></a>
      </li>
    </ul>-->
    <ul class="collection with-header">
      <li class="collection-header"><h4>Positions:</h4></li>
      <li *ngFor="let position of positionsService.positions">
        <a routerLink="/positions/{{position._id}}" class="collection-item"><p> {{position._id}} {{position.name}}</p></a>
    </ul>
  </div>
</div>
<app-basic-form></app-basic-form>
<!--<app-nested-form></app-nested-form>-->
